body{
    background-color: #EAf6f6;
}
hr{
    background-color: white;
    border-style: dotted none none;
    border-color: grey;
    border-top-width: 5px;
    height: 0px;
    width: 5%;
}
h1{
    color: #66bfbf;
}
h3{
    color: #66bfbf;
}
p{
    font-family: 'Times New Roman', Times, serif;
}
